/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 09 */

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#header {
	position: fixed;
	top: 0;
	margin: 2px;
	left: 0px
}

.container {
	width: 1024px;
	margin: 0 auto;

}

.sidebar {
	float: left;
	width: 328px;
	height: 325px;
}

.main-content {
	float: left;
	width: 328px;
	height: 325px;
}

.sub-content {
	float: right;
	width: 328px;
	height: 325px;
}

.footer {
	width: 100%;
	height: 50px;ggttg
	clear: both;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */