/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	height: 50px;
}


.sidebar {
	float: left;
	width: 328px;
	height: 325px;

}

.main-content {
	float: left;
	width: 328px;
	height: 325px;
}

.sub-content {
	float: right;
	width: 328px;
	height: 325px;
}


.footer {
	clear: both;

}

.clearfix {
    display: inline-block;
}
