.header {
	height: 75px;
}

.logo {
	float: left;
	margin-right: 910px;
	padding: 10px;
}

.navigation {
	float: right;
	margin-right: 20px;
	clear: both;
}

h2{
	font-size: 20px;
}

.main-content {
}


.post {
}


.image {
	display: inline-block;
	height: 180px;
	width: 120px;
}

.post_excerpt {
		float: right;
		height: 50px;
		width: 650px;
		padding: 30px;
}

