/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	overflow: auto;
}
	

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	float: left; 
    width: 250px; 
    height: 300px;
    clear: both;
}

.main-content {
	overflow: auto;
}

.sub-content {
	float: right;
	width: 600px;
	height: 100px;
	margin: 10px;
}
.sub-content-2 {
	float: right;
	width: 600px;
	height: 100px;
	margin: 10px;
}

.footer {
	clear: both;
}

.clearfix {
    display: inline-block;
}
