/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 1024px; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {
}

.logo {
	width: 25%;
}

.navigation {
	width: 70%;
	float: right;
	display: inline;
	margin-top: -55px;
}

.sidebar {
	width: 25%;
}

.main-content {
	padding-bottom: 40px;
	height: 160px;
}

.sub-content {
	width: 70%;
	float: right;
	display: inline;
	margin-top: -57px;
}

.sub-content-2 {
	width: 70%;
	float: right;
}

.footer {}
